body {
    margin: 0;
    padding: 0;
    background-color: rgb(95, 73, 145);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    width: 60%;
    margin: 0 auto;
}

textarea:focus {
    outline: none;
}
textarea {
    color: rgb(187, 183, 183);
    min-width: 100%;
    padding: 20px;
    font-size: 30px;
    background-color: rgb(37, 25, 64);
    opacity: 0.8;
    border-radius: 10px;
}

p {
    text-align: right;
}

.reload {
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgb(37, 25, 64);
    color: #b4b2b2;
    border: none;
    border-radius: 5px;
}

@media (max-width: 900px) {
    form { width: 90%; }
}